.ipynb_checkpoints
*.pdf
*.xlsx
*.csv
*.pyc
*.pyo
*.data
*.jpg
*.zip
dl/datasets/*
*.pth
*.gz
*.onnx
*.pt

gen_models/hw1/cifar/*
gen_models/hw1/data/*
gen_models/hw2/CycleGAN-PyTorch/*

**/cache/
**/.venv

.idea/*
gen_models/hw2/CycleGAN-PyTorch/
/cv/hw2/data
/time_series/hw2/catboost_info
/nlp/hw3/bert_imdb
/gis/lab6/assets
*.tif
